[SddmGreeterTheme]
Name=cloud
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=cloud
Theme-API=2.0
